---
import { getCollection } from "astro:content";
import RootLayout from "@/layouts/root-layout.astro";
import FormattedDate from "@/components/formatted-date.astro";
import Prose from "@/components/prose.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<RootLayout>
  <a
    href="/"
    class="text-secondary transition-colors ease-in-out hover:text-primary"
    >← All posts</a
  >
  <div class="mt-4">
    <h1 class="font-semibold">{entry.data.title}</h1>
    <div class="mt-1 flex space-x-1 text-secondary">
      <FormattedDate date={entry.data.pubDate} />
      <span>•</span>
      <span>{remarkPluginFrontmatter.minutesRead}</span>
    </div>
  </div>
  <div class="mt-8">
    <Prose>
      <Content />
    </Prose>
  </div>
</RootLayout>
