---
const socialLinks = [
  {
    name: "X",
    url: "https://twitter.com/archieedwds",
  },
  {
    name: "Github",
    url: "https://github.com/archieedwards",
  },
  {
    name: "Email",
    url: "mailto:hello@archieedwards.com",
  },
];
---

<footer class="border-t border-border pt-8">
  <div>
    <span class="font-medium">Newsletter</span>
    <p class="mt-1 text-secondary">Get notified when I publish a new post</p>
    <form
      class="mt-4 flex flex-col space-y-2 text-sm sm:flex-row sm:space-x-2 sm:space-y-0"
    >
      <input
        type="email"
        placeholder="Email address"
        class="rounded-md border border-border bg-white px-3 py-2 placeholder-gray-400"
        required
      />
      <button
        type="submit"
        class="rounded-md border border-accent-500 bg-accent-400 px-3 py-2 text-white transition-colors ease-in-out hover:bg-accent-500"
      >
        Subscribe
      </button>
    </form>
  </div>
  <div class="mt-8">
    <span class="font-medium">Links</span>
    <ul class="mt-1 flex flex-col space-y-1">
      {
        socialLinks.map((link) => (
          <li>
            <a
              href={link.url}
              target="_blank"
              class="text-secondary transition-colors ease-in-out hover:text-gray-900 hover:underline"
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
